<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
	<meta charset="utf-8">
	<title>STRL</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script src="{% static 'libs/dev/jquery.js' %}"></script>
    <script src="{% static 'libs/dev/bootstrap.js' %}"></script>
    <script src="{%static 'css/nav.js'%}"></script>

    <!-- robotwebtools -->
    <script type="text/javascript" src="http://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
    <script type="text/javascript" src="http://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>


</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">STRLite</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
            <li id="home_page"><a href="{% url 'home' %}">Home</a></li>
            <li id="editor_page"><a href="{% url 'editor' %}">Editor</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ user.username }}</a></li>
                <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
            {% else %}
                <li id="sign_in_page"><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
                <li id="sign_up_page"><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>



    {% block content %}

    {% endblock %}


</body>

</html>