

{% extends "base.html" %}

{% block content %}
<script type="text/javascript">activePage("editor_page")</script>

<div  class="h100p container text-center">
    <!-- <div class="row">
        <div class="col-sm-4 "></div>
        <div class="col-sm-2 "><button id="btnStart" type="button" class="btn btn-success w100p">Start</button></div>
        <div class="col-sm-2 "><button id="btnStop" type="button" class="btn btn-danger w100p">Stop</button></div>
        <div class="col-sm-4 "></div>
    </div> -->
  <div id="app-space" class=" row content ">









    <div  class=" col-sm-12 text-left h100p">
        <div id="canvas" class="img-thumbnail">
          <button id="btnStart" type="button" class="btn btn-success w100p"><div class="glyphicon glyphicon-play"></div> Start</button>
          <button id="btnStop" type="button" class="btn btn-danger w100p"><div class="glyphicon glyphicon-stop"></div> Stop</button>
        </div>


    </div>



  </div>
</div>






{% endblock %}
