<!DOCTYPE html>

{% load staticfiles %}


<html lang="ru">
<head>
  <title>STRLite</title>
  <meta charset="utf-8">
  
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  
  <script src="{% static 'libs/dev/jquery.js' %}"></script>
  <script src="{% static 'libs/dev/bootstrap.js' %}"></script>
    <script src="{% static 'libs/dev/svg.js' %}"></script>
  
  <style>
    
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">STRLite</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ><a href="{% url 'home' %}">Home</a></li>
        <li class="active"><a href="{% url 'editor' %}">Editor</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div  class="h100p container text-center">
    <!-- <div class="row">
        <div class="col-sm-4 "></div>
        <div class="col-sm-2 "><button id="btnStart" type="button" class="btn btn-success w100p">Start</button></div>
        <div class="col-sm-2 "><button id="btnStop" type="button" class="btn btn-danger w100p">Stop</button></div>
        <div class="col-sm-4 "></div>
    </div> -->
  <div id="app-space" class=" row content ">

    <div  class=" col-sm-2 text-left h100p">
        <div class="panel panel-default">
          <div class="panel-heading">Инструменты</div>
          <div class="panel-body">
            <button id="btnStart" type="button" class="btn btn-success w100p">Start</button>
            <button id="btnStop" type="button" class="btn btn-danger w100p">Stop</button>
          </div>
        </div>

    </div>

    <div  class=" col-sm-10 text-left h100p">
        <div id="canvas" class="img-thumbnail">
        </div>
      
    </div>
    
  </div>
</div>


</body>
    <script src="{% static 'strl_renderer/strl_renderer.js' %}"></script>
</html>
